body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0 , 0.5), #f5efeab8),
    url("http://127.0.0.1:5000/static/me.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.101);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    background: #fff;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group textarea {
        padding: 6px;
    }

    .form-group label {
        font-size: 14px;
    }

    button {
        padding: 8px;
    }
}
